{{- $icons := dict
  "python" "fa-brands fa-python colored text-5xl"
  "pandas" "devicon-pandas-original colored text-5xl"
  "numpy" "devicon-numpy-original colored"
  "scikit-learn" "devicon-scikitlearn-original"
  "matlab" "devicon-matlab-line"
  "julia" "devicon-julia-original"

  "pytorch" "devicon-pytorch-original colored"
  "tensorflow" "devicon-tensorflow-original"
  "keras" "devicon-keras-original"

  "react" "devicon-react-original colored"
  "vue" "devicon-vuejs-plain"
  "tailwind" "devicon-tailwindcss-plain"
  "bootstrap" "devicon-bootstrap-plain"

  "django" "devicon-django-plain"
  "flask" "devicon-flask-original"
  "nodejs" "devicon-nodejs-plain"
  "express" "devicon-express-original"

  "latex" "devicon-latex-original"
  "markdown" "fa-brands fa-markdown"
  "libreoffice" "fa-solid fa-file-word"

  "kitty" "fa-solid fa-terminal"
  "river" "fa-solid fa-water"
  "sway" "fa-solid fa-code"
  "gnome" "fa-brands fa-linux"
  "vscode" "devicon-vscode-plain"
  "neovim" "fa-solid fa-code-branch"
-}}
{{ return $icons }}
